<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!--не Работает Jquery mobile-->


    <title>@ViewBag.Title</title>

    @Scripts.Render("~/Scripts/jquery-1.4.5.min.js")
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Styles.Render("~/Content/jquery.mobile-1.4.5.min.css")
</head>
<body>
    <div data-role="page" id="page1">
        <div data-theme="a" data-role="header" data-position="fixed">
            <h3>GameStore</h3>
            @Html.Action("Menu", "Nav")
        </div>

        <div data-role="content">
            <ul data-role="listview" data-divider-theme="b" data-inset="false">

                @RenderBody()
                @RenderSection("scripts", required: false)
            </ul>
        </div>
    </div>
    
    
      
    
    
</body>
</html>
